select {
    appearance: none;
    /* Hide default browser styling */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 1rem;
    padding-right: 2rem;
    /* Ensure space for the arrow */
}

.text-danger {
font-size: 12px;
}
body{
font-size: 12px;
}
.form-control{
font-size: 0.775rem;
}
.btn{
font-size: 0.775rem;
letter-spacing: 0.07rem;
}


h4, .h4, .h4, h5, .h5, .h5, h6, .h6, .h6 {
    font-weight: 500;
}

h4, .h4, .h4 {
    font-size: 1.2rem;
    line-height: 1.375;
}


/* Style the entire scrollbar */
::-webkit-scrollbar {
width: 5px; /* Set width for vertical scrollbar */
height: 12px; /* Set height for horizontal scrollbar */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
background: #f1f1f1;
border-radius: 1px;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
background: #888;
border-radius: 1px;
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}



.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}


.input-group-prepend {
    margin-right: -1px;
}

.input-group-prepend, .input-group-append {
    display: flex;
}

/* .input-group .input-group-text {
    border-right: 1px solid #555 !important;
} */

.input-group > .input-group-prepend > .btn, .input-group > .input-group-prepend > .input-group-text, .input-group > .input-group-append:not(:last-child) > .btn, .input-group > .input-group-append:not(:last-child) > .input-group-text, .input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
    /* border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem; */
    border-right: 3px solid #d2d6da;

}

.input-group .form-control:not(:first-child) {
    border-left: 0;
    padding-left: 0.75rem
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #17181a;
    text-align: center;
    white-space: nowrap;
    background-color: #F9FAFD;
    border: 1px solid #BABFC7;
    border-radius: 0.25rem;
}
