.main-header .outer-box .navsearch-button {
    position: relative;
    margin-top: 17px;
    font-size: 20px;
    color: #222222;
    cursor: pointer;
    float: left;
}
.main-header .outer-box .nav-box {
    position: relative;
    margin-top: 17px;
    font-size: 28px;
    color: #222222;
    cursor: pointer;
    float: left;
    font-weight: 600;
    margin-left: 25px;
}

.main-menu .navigation > li {
    position: relative;
    float: left;
    margin-right: 30px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.main-menu .navigation > li > a {
    position: relative;
    display: block;
    color: #333333;
    text-align: center;
    line-height: 30px;
    text-transform: capitalize;
    letter-spacing: 0px;
    opacity: 1;
    font-weight: 500;
    padding: 15px 0px;
    font-size: 15px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.footer-list li a {
    position: relative;
    font-size: 14px;
    color: #ffffff;
    padding-left: 25px;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}


.footer-list li a:before {
    position: absolute;
    content: '\f101';
     left: 0px;
    top: -4px;
    color: #ff5722;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}


.modal-searchPanel .xs-search-group .search-button {
    background-color: transparent;
    border: 0px;
    padding: 0;
    color: #FFFFFF;
    position: absolute;
    right: 0;
    cursor: pointer;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 100%;
    width: 70px;
    border-radius: 0 50px 50px 0;
}


.sidebar-page-container .comments-area .comment-info .comment-time {
    position: relative;
    font-size: 12px;
    color: #777777;
    margin-left: 38px;
    text-transform: capitalize;
    display: inline-block;
}
